# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / Secrets
.env
.env.*
*.key
*.pem
serviceAccountKey.json
firebase-adminsdk-*.json

# VS Code
.vscode/

# Visual Studio / C#
.vs/
bin/
obj/
monitoring_engine/activity_log.jsonl

# OS
.DS_Store
Thumbs.db